<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    {% endblock head %}
    
    </head>

    <body>
        <div class="main">
            <div class="row">
                <div class="col-md-2">
                {% block sidebar %}
                {% endblock sidebar %}
                </div>

                <div class="col-md-10">
                    <div class="row"> 
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg">
                                {% block kembali %} {% endblock kembali %}
                                <p class="navbar-brand"> <strong>
                                {% block header %} {% endblock header %}
                                </strong></p>
                                <div class="navbar-right">
                                    <a class="btn btn-danger" href="{% url 'keluar' %}">Keluar</a>
                                </div>
                            </nav> 
                        </div>
                        <div class="col-md-12 ">  
                            {% include 'messages.html' %}  
                            {% block content %}     
                            {% endblock content %} 
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
        }, 2000)
    </script>
    {% block script %}
    
    {% endblock script %}
</html>
