{% extends 'base.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>File mahasiswa yang akan ditambahkan harus memiliki format .csv 
    yang memiliki 4 kolom yang tersusun seperti berikut <br> <br>
    <center>
        <strong> | Nomor | Nama | NIU | Attendance | </strong></label> <br> <br>
        
        <select name="dipilih" id="">
            <option>Pilih kehadiran</option>
            {% for kehadiran in kehadiran %}
                <option value="{{ STATIC_URL }}{{kehadiran.fileKehadiran.url}}" >{{kehadiran.fileKehadiran.name}}</option> 
            {% endfor %}
        </select>
        <br> <br>
    </center>
    {% comment %} <input type="file" name="file" class="btn-block"> <br> <br> {% endcomment %}
    <button type="sumbit" name="kehadiran" class="btn btn-success btn-block" > 
    Upload Data Kehadrian Mahasiswa</button>
</form>
{% endblock content %}