{% extends 'base.html' %}

{% block header %}
    Daftar Mata Kuliah
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body"> <br>
        <div style="float:right">
            <button class="btn btn-success mr-2" onclick="tambahPengajar()"> 
                + pengajar
            </button>
            <button class="btn btn-success mr-2" onclick="buatAkun()"> 
                + Akun Dosen
            </button>
            <button class="btn btn-success" onclick="buatMatkul()"> 
                + Mata Kuliah
            </button>
        </div>
         <h4></h4> <br> <br> <br>  {% comment %}Search{% endcomment %}
        <div class="scrollable ">
            <table class='table'>
                <th>Nama Mata Kuliah</th>
                <th>Kode Mata Kuliah</th>
                <th>Ruang Kelas</th>
                <th>Mulai Kuliah</th>
                <th></th>
                <th></th>
                <th></th>
            
                {% for profil in profil %}
                
                <tr style="margin-left: 2rem" >
                    <td>{{ profil.nama }}</td>
                    <td>{{profil.kode}} </td>
                    <td> {{profil.ruang}}</td>
                    <td>{{profil.jadwal|time:"H:i"}} WIB</td>
                    <form  method="POST" action="{% url 'detailAkun' profil.pk  %}">
                    {% csrf_token %}
                        <td><button class="btn btn-outline-primary" type="submit" >Detail</button></td>
                    </form>
                    <form  method="POST" action="{% url 'hapus_akun' profil.pk  %}">
                    {% csrf_token %}
                        <td><button class="btn btn-outline-danger" type="submit" >hapus</button></td>
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    function buatAkun() {
        location.replace( '{% url 'daftar' %}' )
    }
    function buatMatkul() {
        location.replace( '{% url 'dataAkun' %}' )
    }
    function tambahPengajar() {
        location.replace( '{% url 'tambahPengajar' %}' )
    }
</script>
{% endblock script %}