{% extends 'base.html' %}

{% block header %}
    Masukkan Profil Dosen 
{% endblock header %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-body"> 
    <br>
        <div class="col-12 d-flex justify-content-center">
        <form method="POST" action="" class="col-6">
                {% csrf_token %}                
                <label for="nama" name="nama"><h4> Username {{last_user}}</h4></label>
                <input type="text" name="kode" placeholder="Kode Matakuliah. . ." class="form-control">
                <br>
                <input type="text" name="matkul" placeholder="Nama Mata Kuliah. . ." class="form-control">
                <br>
                <input type="text" name="ruang" placeholder="Ruang Kuliah. . ." class="form-control">
                <br>
                <button type="submit" class="btn btn-primary btn-block">Simpan</button>
            </form>
        </div>
    </div>
        
        
    </div>
</div>
{% endblock content %}
