{% extends 'base.html' %}

{% block kembali %} 
    <a href="{% url 'daftarMahasiswa' %}" 
    class="kembali"> < Kembali </a>
{% endblock kembali %}

{% block header %}
    Detail Kehadiran Mahasiswa
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12"> 
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Informasi Umum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Nama</td>
                            <td>: {{mahasiswa.nama}}</td>
                        </tr>
                        <tr>
                            <td>NIM</td>
                            <td>: {{mahasiswa.nim}}</td>
                        </tr>
                        <tr>
                            <td>Angkatan</td>
                            <td>: {{mahasiswa.angkatan}}</td>
                        </tr>
                        <tr>
                            <td>Program Studi</td>
                            <td>: {{mahasiswa.program_studi}}</td>
                        </tr>
                    </table>    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="scrollable-sm">
                        <table class="table fixed_header">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="40%">Mata Kuliah</th>
                                    <th width="40%">Pelaksanaan Perkuliahan</th>
                                    <th width="20%">Status</th>
                                </tr>
                            </thead>
                            {% for presensi in presensi %}
                                <tr>
                                    <td>{{presensi.pertemuan.matkul}}</td>
                                    <td>{{presensi.pertemuan.waktu_perkuliahan}}</td>
                                    <td>
                                    {% if presensi.status == "1" %}
                                        <p>Hadir</p>
                                    {% elif presensi.status == "0" %}
                                        <p>Absen</p>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

                {% comment %} <div class="col-md-4">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Rekap Kehadiran</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Tepat Waktu</td>
                        <td>{{jumlah_hadir}}</td>
                    </tr>
                    <tr>
                        <td>Absen</td>
                        <td>{{jumlah_absen}}</td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Kehadiran</strong></td>
                        <td><strong> {{total_kehadiran}} / {{presensi.count}}</strong></td>
                    </tr>
                    </table>
                </div> {% endcomment %}