{% extends 'base.html' %}

{% block header %}
    Daftar Mahasiswa {{profil.nama}}
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body"> <br>
        <div style="float:right; z-index:1;">
        
            <button type="button" class="btn btn-success open"
            data-toggle="modal" data-target="#myModal" > + Mahasiswa </button>

            
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Upload Daftar Mahasiswa</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label>File mahasiswa yang akan ditambahkan harus memiliki format .csv 
                            yang memiliki 5 kolom yang tersusun seperti berikut <br> <br>
                            <center>
                                <strong> | NIU | NIM | Nama | Program Studi | Angkatan | </strong></label> <br> <br>
                            </center>
                            <input type="file" name="file" class="btn-block btn" required> <br> <br>
                            <button type="sumbit" name="tambah_mhs"
                            class="btn btn-success btn-block" > Tambah Mahasiswa</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4></h4> <br> <br>
        <div class="scrollable ">
            <table class='table'>
                <th>Nama Mahasiswa</th>
                <th>NIM Mahasiswa</th>
                <th>Angkatan</th>
                <th></th>    
                <th></th>
                
                {% for kehadiran in mahasiswa %}
                <tr style="margin-left: 2rem" >
                    <td>{{ kehadiran.nama }}</td>
                    <td>{{kehadiran.nim}}</td>
                    <td> {{kehadiran.angkatan}}</td>
                    <td><a class="btn btn-outline-info" href="{% url 'detail' kehadiran.niu %}">Detail</a></td>
                    <form  method="POST" action="{% url 'hapus_mahasiswa' kehadiran.niu %}">
                        {% csrf_token %}
                        <td><button class="btn btn-outline-danger" type="submit" >hapus</button></td>
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

</script>