{% extends 'base.html' %}

{% block header %}
    Daftar Mahasiswa {{profil.nama}}
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body"> <br>
        <div style="float:right; z-index:1;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" >
                <button type="sumbit"
                class="btn btn-success">Tambah Mahasiswa</button>
            </form>
        </div>
        <h4>Daftar Mahasiswa</h4> <br>
        <div class="scrollable ">
            <table class='table'>
                <th>Nama Mahasiswa</th>
                <th>NIM Mahasiswa</th>
                <th>Angkatan</th>
                <th></th>    
                
                {% for kehadiran in mahasiswa %}
                <tr style="margin-left: 2rem" >
                    <td>{{ kehadiran.nama }}</td>
                    <td>{{kehadiran.nim}}</td>
                    <td> {{kehadiran.angkatan}}</td>
                    <td><a class="btn btn-outline-info" href="{% url 'detail' kehadiran.niu %}">Detail</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
