
{% extends 'base.html' %}

{% block header %}
    Presensi Kehadiran Mahasiswa
{% endblock header %}

{% load crispy_forms_tags %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body"> <br>
    {% if tersedia > 0 %}
        <button type="button" class="btn btn-success open" style="float:right"
        data-toggle="modal" data-target="#myModal"> Upload Kehadiran </button>

        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Upload Data Kehadiran</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label>File mahasiswa yang akan ditambahkan harus memiliki format .csv 
                            yang memiliki 4 kolom yang tersusun seperti berikut <br> <br>
                            <center>
                                <strong> | Nomor | Nama | NIU | Attendance | </strong></label> <br> <br>
                            </center>
                            <input type="file" name="file" class="btn-block" required> <br> <br>
                            <button type="sumbit" name="kehadiran" class="btn btn-success btn-block" > 
                            Upload Data Kehadrian Mahasiswa</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h4></h4> <br>
        <form method="POST" id="presensiInputForm">
            {% csrf_token %}
            <div><br>
                <h6><strong> Pilih Pertemuan: </strong> </h6>
                <select name="Pilihan" id="pertemuan" class=" form-control" style="margin-top: 1vh">
                </select> 
            </div> <br>
            <div class="scrollable-md">
                <table class="table">
                    <tr>
                        <th>Nama Mahasiswa</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><label id="mahasiswa" name="mahasiswa"></label></td>
                        <td><label id="status" name="status"></label> </td>
                    </tr>
                </table>
            </div>
            <button type="sumbit" class="btn btn-success btn-block" name="simpan">Simpan</button>
        </form>
    {% else %}
        <center>
            <p>Pertemuan Tidak Tersedia</p>
        </center>
    {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src= "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
//axios.defaults.xsrfCookieName = 'csrftoken';
//axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";


let one ="http://127.0.0.1:8000/api/mahasiswa/";
let two ="http://127.0.0.1:8000/api/upload/";
let three ='http://127.0.0.1:8000/api/pertemuan/';

const requestOne = axios.get(one);
const requestTwo = axios.get(two);
const requestThree = axios.get(three);

let mahasiswa = [];
let status = [];
let pertemuan = [];

axios
.all([requestOne, requestTwo, requestThree])
.then(
    axios.spread((...responses) => {
    const responseOne = responses[0];
    const responseTwo = responses[1];
    const responseThree = responses[2];

        //daftar mahasiswa semua
        mahasiswa = responseOne.data
        //  console.log(mahasiswa)

        //daftar hadir kelas
        dummy = responseTwo.data
        //console.log(dummy)

        //List Mahasiswa 
        let listMhs = [];
        mahasiswa.forEach(element =>{
            niu = element.niu
            dummy.filter(function(nomer){
                if (nomer.nim == niu){
                    listMhs.push(element)
                }
            })
        })
        console.log(listMhs)

        //list Status Mahasiswa
        let listStatus = [];
        dummy.forEach(element =>{
            nim = element.nim
            mahasiswa.filter(function(nomer){
                if (nomer.niu == nim){
                    listStatus.push(element)
                }
            })
        })
        console.log(listStatus)
    
        //list pertemuan
        pertemuan = responseThree.data
        console.log(pertemuan)

        pertemuan_belum = pertemuan.filter(function(item){
            return item.simpan == 0;
        })

        console.log(pertemuan_belum)

        pertemuan_belum.forEach(element =>{
            tampilkanPertemuan(element)
        })

        listMhs.forEach(element => {
            tampilkanMahasiswa(element)
        })

        listStatus.forEach(element => {
            tampilkanStatus(element)
        })

    })
)
.catch(errors => {
    console.error(errors);
});

function tampilkanPertemuan(element){
    var selectList = document.getElementById("pertemuan");

    var option = document.createElement("option");
    option.setAttribute("value", element.id);
    option.text = element.profil + ' - ' + element.tanggal_perkuliahan + ' | ' + element.waktu_perkuliahan;
    selectList.appendChild(option);
}

function tampilkanMahasiswa(element){
    var list = document.createTextNode('');
    var listMahasiswa = document.createElement('p');
    var niuMahasiswa = document.createElement('p');
    var divMahasiswa = document.createElement('div');

    divMahasiswa.setAttribute("name", "listMahasiswa");
    listMahasiswa.setAttribute("name", "nama");
    niuMahasiswa.setAttribute("name", "niu");
    niuMahasiswa.setAttribute("style", "display:none");
    

    listMahasiswa.appendChild(list);
    listMahasiswa.innerHTML = element.nama
    divMahasiswa.appendChild(listMahasiswa)
    
    niuMahasiswa.appendChild(list);
    niuMahasiswa.innerHTML = element.niu 
    divMahasiswa.appendChild(niuMahasiswa)

    var kehadiran = document.getElementById('mahasiswa');
    kehadiran.appendChild(divMahasiswa);
}

function tampilkanStatus(element){
    var list = document.createTextNode('');
    var nimStatus = document.createElement('p');
    var listStatus = document.createElement('p');
    var divStatus = document.createElement('div');

    divStatus.setAttribute("name", "listStatus");
    listStatus.setAttribute("name", "attendance");
    nimStatus.setAttribute("name", "nim");
    nimStatus.setAttribute("style", "display:none");

    listStatus.appendChild(list);
    listStatus.innerHTML = element.attendance
    divStatus.appendChild(listStatus)

    nimStatus.appendChild(list);
    nimStatus.innerHTML = element.nim 
    divStatus.appendChild(nimStatus)

    var kehadiran = document.getElementById('status');
    kehadiran.appendChild(divStatus);

}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
document.getElementById('presensiInputForm').addEventListener('submit', savebatch);

function savebatch(e){
    var inputPertemuan = document.getElementById('pertemuan');
    var savePertemuan = inputPertemuan.value
    console.log(savePertemuan)

    let saveMahasiswa = [];
    let nama = [];
    let niu = [];

    var namaMhs = document.getElementsByName('nama')
        namaMhs.forEach(namaMahasiswa =>{
            nama.push(namaMahasiswa.innerHTML)
        })
    var niuMhs = document.getElementsByName('niu')
        niuMhs.forEach(niuMahasiswa =>{
            niu.push(niuMahasiswa.innerHTML)
        })

    for (var i = 0 ; i < namaMhs.length; i++){
        var newitem = {
            nama : nama[i],
            niu : niu[i]
        }
        saveMahasiswa.push(newitem)
    }

    console.log(saveMahasiswa)

    let saveStatus = [];
    let nim = [];
    let attendance = [];

    var nimDummy = document.getElementsByName('nim')
        nimDummy.forEach(dummy =>{
            nim.push(dummy.innerHTML)
        })
    var attendanceDummy = document.getElementsByName('attendance')
        attendanceDummy.forEach(kehadiran =>{
            attendance.push(kehadiran.innerHTML)
        })

    for (var i = 0 ; i < nimDummy.length; i++){
        var newitem = {
            nim : nim[i],
            attendance : attendance[i]
        }
        saveStatus.push(newitem)
    }

    console.log(saveStatus)
    
    var csrftoken = getCookie('csrftoken');

    const options = {
    headers: {"X-CSRFToken": csrftoken }
    };

    if(saveStatus.nim == saveMahasiswa.niu){
        saveStatus.forEach(simpan =>{

            //console.log(savePertemuan)
            //console.log(simpan.nim)
            //console.log(simpan.attendance)

            axios.put('http://127.0.0.1:8000/api/pertemuan/' + savePertemuan + '/', {
                simpan : 1,
            }, options)
            .then(res => {
                console.log(res)
            })
            .catch(err => {
                console.log(err)
            })

            axios.post('http://127.0.0.1:8000/api/presensi/', {
                pertemuan: savePertemuan,
                mahasiswa : simpan.nim,
                status: simpan.attendance
            }, options )
            .then(res => {
                console.log(res)
            })
            .catch(err => {
                console.log(err.response.request._response)
            })
            
        })
    }
    
}

</script>

{% endblock script %}
