{% extends 'base.html' %}

{% block header %}
    Registrasi Akun 
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-body"> <br>
    <h4>Akun Perkuliahan</h4>
        <br>
        <div class="col-12 d-flex justify-content-center">

            <form method="POST" action="" class="col-6">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Lanjut</button>
            </form>
        </div>
    </div>
        
        
    </div>
</div>
{% endblock content %}
