{% extends 'base.html' %}

{% block kembali %} 
    <a href="{% url 'rekap' %}" 
    class="kembali"> < Kembali </a>
{% endblock kembali %}

{% block header %}
    Detail Kehadiran Mahasiswa
{% endblock header %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 scrollable">
                    <h4>Mahasiswa Hadir </h4>
                    <table class='table'>
                        <th>Nama Mahasiswa</th> <br>
                        <th>NIM Mahasiswa</th>
                        <th>status</th>
                        {% for mhs in hadir %}
                            <tr style="margin-left: 2rem" >
                                <td>{{mhs.mahasiswa.nama}}</td>
                                <td>{{mhs.mahasiswa.nim}}</td>
                                <td>{{mhs.status}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6 scrollable">
                    <h4>Mahasiswa Absen</h4> <br>
                    <table class='table'>
                        <th>Nama Mahasiswa</th>
                        <th>NIM Mahasiswa</th>
                        <th>Status</th>
                        {% for mhs in absen %}
                            <tr style="margin-left: 2rem" >
                                <td>{{mhs.mahasiswa.nama}}</td>
                                <td>{{mhs.mahasiswa.nim}}</td>
                                <td>{{mhs.status}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}