{% extends 'base.html' %}

{% block kembali %} 
    <a href="{% url 'rekap' %}" 
    class="kembali"> < Kembali </a>
{% endblock kembali %}

{% block sidebar %}
    {% include 'adds/sidebar.html' %}
{% endblock sidebar %}

{% block header %}

    Perkuliahan - {{pertemuan.waktu_perkuliahan}}
{% endblock header %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Mahasiswa Hadir </h4>
                    <table class='table'>
                        <th>Nama Mahasiswa</th> <br>
                        <th>NIM Mahasiswa</th>
                    </table>
                    <table class='table fixed'>
                        
                        {% for mhs in hadir %}
                            <tr style="margin-left: 2rem" >
                                <td>{{mhs.mahasiswa.nama}}</td>
                                <td>{{mhs.mahasiswa.nim}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6 ">
                    <h4>Mahasiswa Absen</h4>
                    <table class='table'>
                        <th>Nama Mahasiswa</th> <br>
                        <th>NIM Mahasiswa</th>
                    </table>
                    <table class='table fixed'>
                        {% for mhs in absen %}
                            <tr style="margin-left: 2rem" >
                                <td>{{mhs.mahasiswa.nama}}</td>
                                <td>{{mhs.mahasiswa.nim}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}