{% extends 'base.html' %}

{% block header %}
    Rekapitulasi Data Presensi
{% endblock header %}

{% block sidebar %}
    {% include 'adds/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body scrollable">
        <h4>Pertemuan Kuliah {{user.profil.nama}}</h4> <br>
        <div class="grid-wrapper">
        {% for pertemuan in pertemuan %}

            
                <div class="grid-item">
                    <div style="margin: 2vh 4vh;">
                        <h5> <span class="count">dummy</span></h5>
                        <h6>{{pertemuan.pengajar}} - {{pertemuan.tanggal_perkuliahan}} | {{pertemuan.waktu_perkuliahan}}</h6>
                    </div>
                    <div style="margin-left:auto; border-radius:10px;">
                        <a href="{% url 'detailRekap' matkul.id pertemuan.id %}" class=" h-100 btn btn-info"
                        style="width:25vh; padding-top:4.5vh"> <h5>Detail</h5></a> 
                    </div>
                </div>
            
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    var list = document.getElementsByClassName("count");
    for (var i = 1  ; i <= list.length; i++) {
        list[i-1].innerHTML = 'Rekap Pertemuan ke - ' + i;
    }
</script>
{% endblock script%}