
{% extends 'base.html' %}

{% block header %}
    Upload Daftar Kehadiran Mahasiswa
{% endblock header %}

{% load crispy_forms_tags %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body scrollable"> <br>
    <center>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="upload btn"> {{fileKehadiran|crispy}}</span> <br> <br>
            <span class="fileLabel"> <p>format file .csv</p> </span>
            <button type="sumbit" class='btn btn-success btn-block' name='fileKehadiran'>Execute Face Detection</button>
        </form>
            {% comment %} <input type="file" name="file" class="upload">  {% endcomment %}
            {% comment %} <br><br>
            <span class="fileLabel"> <p>format file .csv</p> </span>
            <button type="sumbit" action="{% url 'video' %}" name='upload'
            class="btn btn-primary" >Upload Daftar Presensi</button> {% endcomment %}
        {% comment %} </form> {% endcomment %}
    </center>
    </div>
</div>
{% endblock content %}
    {% block script %}
    {% endblock script %}
