{% extends 'base.html' %}

{% block header %}
    Upload rekaman video aktivitas kelas
{% endblock header %}

{% load crispy_forms_tags %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body scrollable">
        <center>
            <form method="POST" enctype="multipart/form-data" class="uploadForm ">
                {% csrf_token %}
                <br> {{form|crispy}} <br>
                <span class="fileLabel"> <p>format video .mp4</p> </span>
                <button type="sumbit" class='btn btn-success btn-block'>lanjut</button>
            </form>
        </center>
    </div>
</div>
{% endblock content %}