{% extends 'base.html' %}

{% block header %}
    Upload rekaman video aktivitas kelas
{% endblock header %}

{% load crispy_forms_tags %}

{% block sidebar %}
    {% include 'adds/sidebar-superadmin.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body scrollable"> <br>
    <center>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            
            {{form|crispy}} <br>
            <button type="sumbit" class='btn btn-primary'>Execute Face Detection</button>
        </form>
        <hr>
    </center>
        
{% comment %} 
        <div>
            <table class="col-md-12">
                <tr>
                    <th> Deskripsi Video
                    </th>
                    <th> Link Video
                    </th>
                    <th>
                    </th>
                </tr>
                {% for video in videos%}
                <tr>
                    <td>
                        {{video.deskripsi_video}}
                    </td>
                    <td>
                        {{video.videofile.url}}
                    </td>
                    <td>
                    <a href="{{video.videofile.url}}" class="btn btn-outline-primary"
                    target="_blank"> lihat video</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endcomment %}
    </div>
</div>
{% endblock content %}