
body{
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    overflow-y: hidden;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0c1f33; /* grey */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidenav h5{
    padding: 0px 16px 24px 16px;
    text-decoration: none;
    text-align: right;
    color: #f1f1f1;
    display: block;
}
.sidenav a {
    text-decoration: none;
    padding: 10px 8px 8px 16px;
    font-size: 2.5vh;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.active{
    background-color: rgb(0,120,240);
    color: white;
}
.active a{
    color: whitesmoke;
}
.navbar{
    margin: 10 10px 10px 0px;
    background-color: white;
    border: 1px solid rgba(0,0,0, .125);
    border-radius: .5rem;
}
.navbar p{
    margin: auto;
    color: rgb(63, 63, 63);
}

.card{
    margin: 10 10px 10px 0px;
    height: 85vh;
}

.scrollable{
    overflow-y: auto;
    height:90%;
}
.scrollable-md{
    overflow-y: auto;
    height:50%;
}
.scrollable-sm{
    overflow-y: auto;
    height:25%;
}
::-webkit-scrollbar { /* width */
    width: .25rem;
}
::-webkit-scrollbar-thumb { /* Handle */
    border-radius: 5rem;
    background: rgb(10, 95, 175); 
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}

/*--Dashboard--*/
li {
    list-style-type: none;
}
select{
    background-color: none !important;
}
/*--aktivitas--*/
.listpad{
    padding: 1.25rem .5rem !important;
}
iframe{
    margin-bottom: .5rem;
}
.listMhs{
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: .5rem 0rem;
}
.hadir{
    width: 100%;
    height: 15%;
    border-radius: 50;
    background-color: dodgerblue;
}
.tidak{
    width: 100%;
    height: 15%;
    border-radius: 50;
    background-color: orangered;
}
/* detail */

.kembali{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.kembali a{
    text-decoration:none;
}
.kembali:hover{
    color: #f1f1f1;
    background-color: #585e64 ;
}

/* rekap */

.pertemuan-container{
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid dodgerblue;
    border-radius: 1rem;
    margin-top: .5rem !important;
    margin-bottom: 1.5rem !important;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-auto-flow: dense;
}
.grid-item{
    display: flex;
    box-shadow: -8px 10px 6px -5px rgb(172, 172, 172, 0.5);
    border-radius: 10px;
    justify-items: center ;
}

.nomor{
    text-align: center;
    background-color: dodgerblue;
    border-radius: 20px;
    color: whitesmoke;
    width: 15% !important;
}

.keterangan p{
    margin-bottom: .75rem !important;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 20vh;
}

.fixed_header thead tr {
   display: block;
}


.fixed_header th, .fixed_header td {
  padding: 10px;
  text-align: left;
  width: 100vh;
}

.fixed{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 60vh;
}

.fixed thead tr {
   display: block;
}


.fixed th, .fixed td {
  padding: 10px;
  text-align: left;
  width: 60vh;
}

.upload{
    border: 1px;
    padding: 15%;
    height: 60%;
    border-color: black;
    border-style: dashed;
}
